*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    margin-top:0;}

#container {
	margin: 4rem auto 0;

	width: 90%;
}
.formcontainer {
	margin: 2rem auto 0;
	width:auto;
}

.alert-success {display:none;}
textarea {
    resize: none;
}

.column {
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
}


.tablesorter-blue{border:0px !important;}


#staticon
{margin-left:2rem;}

@media (min-width: 40rem) {
.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.fith { width: 20%; }
.column.two-fith { width: 40%; }
.column.three-fith { width: 60%; }
.column.four-fith { width: 80%; }
.column.flow-opposite { float: right; }
.column.one-sixth {width:16.7%;}
.column.four-sixth {width:66.8%;}
.column.five-sixth {width:73.5%;}
.column.one-tenth {width:10%;}
.column.flow-center {float:center;}
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
 
.clearfix:after {
	clear: both;
}
 
.clearfix {
	*zoom: 1;
}

html {margin:0;}

body {
	color:#50506C;
	font-family: 'Verdana';
	font-size:13px;
	margin:0;
}

#nav {background:#1d1f21;
font-family: 'Roboto' sans-serif;
font-size:1.2rem;
text-align:right;
width:100%;
height:4rem;
color:white;}

#nav li 
{margin-right:2rem;
padding-top:1rem;
list-style-type:none;}

#menu {
	height:4rem;
	background:#ffffff;
	margin-top:2rem;
}

#menu img {margin-top:0.5rem;}

#menu li {
	display: inline;
	text-align:center;}

#menu a, a:hover {
	color:white;
	text-decoration:none;
}

#lang {margin-left:2rem;}

#form2 {width:700px;margin-left:auto;margin-right:auto;}
h2 {width:300;margin-left:auto;margin-right:auto;}

.button {
width:120px;
height:30px;
cursor:pointer;
background:white;
border:1px solid #CCC;


}

#lang
{margin-top:4rem;}

#formcontrol {margin-top:4rem;}


.textarea1 {margin-left:15rem;border:1px solid #ccc; padding:20px;font-family: 'Verdana';font-size:12px; }

.textarea2 {cursor:pointer;border:1px solid #ccc; padding:20px;font-family: 'Verdana';font-size:12px; }
#inner -webkit-scrollbar {display: none;}
#annotator {width:470;}
#annotator input {background:transparent;border:none;}
.checked {border: 5px solid #000;}
#xml xmp w {display:block;text-indent:0;}
#statsauto {width:auto; text-align:right;font-size:13px;}
#statsmanu {width:auto; text-align:right;font-size:13px;}
#stats {width:auto; text-align:right;font-size:13px;}

#table2 {float:left;width:760px;}
#xml {width:500px;float:left;}
#xml ul li {width:400px;list-style-type:none;}
#graph {background-color:#CC0066;height:14px;}

a.box
{
  position: relative;
  text-decoration: none;
  font-family: 'Verdana';
  font-size:12px;
cursor:default;}
a.box span
{
  display: none;
}
a.box:hover span
{height:auto;
width:100px;
  position: absolute;
  display: block;
  top: 1.5em;
  right: 3.5em;
  background-color:#CCC;
  color:black;
  padding: 0.2em;
  z-index:10;    
}
.clear {clear:both;}
table input { border:1px solid #DADADA;}
.transparent {background-color:#E2E2E2;opacity:0.5;}


.showme{ 
display: none;
}
.statshover>#stats {
display: block;
}



pre{
  background:#eee;
  border:1px solid #999;
  padding:.5em;
  margin:.5em;
  font-size:.9em;
}

p.fameandfortune{
  padding:.5em;
  margin-top:2em;
  background:#eee;
  border-top:1px solid #999;
}



table td input#nr {width:50px;}

.tablesorter {
    width: auto;
}
.tablesorter  .tablesorter-filter-row td:nth-child(4n+1) .tablesorter-filter {
    width: 50px;
}
.highlight_row {
    background: #9DFF7D;
}


 .ui-tooltip, .arrow:after {
background: black;
border: 2px solid white;
}
.ui-tooltip {
padding: 10px 20px;
color: white;
border-radius: 20px;
font: bold 14px "Helvetica Neue", Sans-Serif;
text-transform: uppercase;
box-shadow: 0 0 7px black;
}
.green {
    background: #70FF70;
}

.yellow {
    background: #FFFF66;
}

.red
{
 background:#CC0000;   
}




input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: transparent;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#fff;
     border:2px solid #DADADA;
}

input[type="radio"]:checked + label span{
     background-color:#70FF70;
}

input[type="radio"]:checked + label span.yellow{
     background-color:#FFFF66;
}

input[type="radio"]:checked + label span.red{
     background-color:#CC0000;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

#progress{ width:100%;}
.tablesorter .tablesorter-filter-row .disabled {
    display:none;
}

.login {float:left;}

