db='pgsql: dbname=tokeneditor host=127.0.0.1'
; debug level 0-only generic error message, 1-exact error message, 2-traceback
debug=0
apiBase='/tokeneditor-api/'
; auth config
authTokenVar='token'
shibUserHeader='HTTP_EPPN'
googleTokenVar='token'
authBasicRealm='tokeneditor'
guestUser=''
; directory in which raw document XMLs are stored
storageDir="docStorage"
tmpDir="tmp"
