RewriteEngine on
RewriteRule ^document$ interface.php
RewriteRule ^document/([0-9]+)$ interface.php?document_id=$1 [QSA]
RewriteRule ^document/([0-9]+)/token$ interface.php?document_id=$1&token_id=$2 [QSA]
RewriteRule ^document/([0-9]+)/property/([^/]+)$ interface.php?document_id=$1&property_name=$2 [QSA]

# for local testing
RewriteCond %{ENV:HTTP_EPPN} ^$
RewriteRule .* - [E=HTTP_EPPN:test]
